.bookDetailSkeleton {
  position: relative;
  display: flex;
  gap: 1.5rem;
  margin: 2rem 5rem;
}

.thumbnail {
  width: 15rem;
  height: 20rem;
  background-color: var(--color-light-gray);
  border-radius: 0.5rem;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.title {
  width: 60%;
  height: 2.5rem;
  background-color: var(--color-light-gray);
  border-radius: 0.5rem;
}

.subTitle {
  width: 30%;
  height: 2rem;
  background-color: var(--color-light-gray);
  border-radius: 0.5rem;
  margin-bottom: 1rem;
}

.textLine {
  width: 70%;
  height: 1.5rem;
  background-color: var(--color-light-gray);
  border-radius: 0.5rem;
}

.price {
  position: absolute;
  right: 0;
  bottom: 5rem;
  width: 7.5rem;
  height: 1.25rem;
  background-color: var(--color-light-gray);
  border-radius: 0.5rem;
  margin-top: 1.25rem;
}

.button {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 15rem;
  height: 3.5rem;
  background-color: var(--color-light-gray);
  border-radius: 0.5rem;
  margin-top: 1rem;
}
