.container {
  margin-top: 3.6rem;

  li {
    display: grid;
    grid-template-columns: 4.8rem 45.6rem auto auto;
    align-items: center;
    position: relative;
    padding: 1.6rem 1.5rem 1.6rem 4.8rem;
    border-bottom: 1px solid var(--color-gray);
  }
}
