.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 16rem;

  p {
    margin-top: 2.4rem;
    color: var(--color-text-secondary);
  }
}
