.container {
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  background-color: var(--color-white);
}

.logo {
  position: absolute;
  left: calc((160 / 1920) * 100%);
  top: 2rem;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5.6rem;
  padding: 2rem 0;

  a {
    padding: 0.4rem 0;
    border-bottom: 1px solid transparent;
    box-sizing: border-box;

    &.is--active {
      border-bottom-color: var(--color-primary);
    }
  }
}
