:root {
  --color-primary: #4880ee;
  --color-red: #e84118;
  --color-gray: #dadada;
  --color-light-gray: #f2f4f6;
  --color-white: #ffffff;
  --color-black: #222222;
  --color-text-primary: #353c49;
  --color-text-secondary: #6d7582;
  --color-text-subtitle: #8d94a0;

  --spacing-sm: 1rem;
  --spacing-md: 1.6rem;
  --spacing-lg: 2.4rem;

  --layout-md: 960px;

  --text-h1: 2.4rem;
  --text-weight-h1: 700;
  --text-leading-h1: 2.4rem;

  --text-h2: 2.2rem;
  --text-weight-h2: 700;
  --text-leading-h2: 2.2rem;

  --text-h3: 1.8rem;
  --text-weight-h3: 700;
  --text-leading-h3: 1.8rem;

  --text-p1: 2rem;
  --text-weight-p1: 500;
  --text-leading-p1: 2rem;

  --text-p2: 1.6rem;
  --text-weight-p2: 500;
  --text-leading-p2: 1.6rem;

  --text-p3: 1.4rem;
  --text-weight-p3: 500;
  --text-leading-p2-p3: 1.4rem;

  --text-p4: 1rem;
  --text-weight-p4: 500;
  --text-leading-p4: 1rem;
}
