.book {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2.2rem;
  padding: 1.7rem 1.6rem 1.5rem 4.8rem;
  border-bottom: 1px solid var(--color-gray);
}

.thumb {
  position: relative;
  min-width: 4.8rem;
  max-width: 4.8rem;
}

.like {
  position: absolute;
  right: 0.17rem;
  top: 0.17rem;
  width: 1.3rem;
  height: 1.3rem;
}

.meta {
  max-width: 40.8rem;
  width: 100%;
  margin-left: 2.6rem;

  text-align: middle;

  strong {
    margin-right: 1.8rem;
  }

  b {
    font-weight: normal;
  }
}

.price {
  white-space: nowrap;
}

.func {
  display: flex;
  gap: 0.8rem;
  margin-left: 3.4rem;
}
