/* TODO: 컬럼 수정 */
.container {
  display: grid;
  grid-template-columns: 4.8rem 45.6rem auto auto;
  align-items: center;
  position: relative;
  padding: 1.6rem 1.5rem 1.6rem 4.8rem;
  border-bottom: 1px solid var(--color-gray);
}

.thumb {
  width: 4.8rem;
}

.meta {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  padding-left: 4.8rem;

  b {
    font-weight: normal;
  }
}

.func {
  display: flex;
  gap: 0.8rem;
  position: absolute;
  right: 1.6rem;
  top: 50%;
  transform: translateY(-50%);
}
