.container {
  display: none;
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  bottom: 0;
  padding-bottom: 1.6rem;
  border-radius: 0 0 3rem 3rem;
  background-color: var(--color-light-gray);
  transform: translateY(100%);

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 2rem;
    transform: translateY(-100%);
    background-color: var(--color-light-gray);
  }

  li {
    position: relative;
    padding: 1.2rem 5rem;
  }
}

.close {
  position: absolute;
  right: 2.9rem;
  top: 50%;
  transform: translateY(-50%);

  img {
    width: 1.6rem;
    height: 1.6rem;
  }
}
