.container {
  position: absolute;
  right: 0;
  top: 0;
  width: 36rem;
  padding: 4rem 2.4rem;
  box-sizing: border-box;
  border-radius: 8px;
  background-color: var(--color-white);
  box-shadow: 0px 4px 14px 6px #97979726;
  transform: translate(35%, 40%);
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.formInner {
  display: flex;
  gap: 0.4rem;
  justify-content: space-between;
  height: 2.7rem;
}

.selector {
  flex: 100;
  position: relative;
  height: inherit;

  > button {
    height: inherit;
    width: 100%;
    padding: 0.5rem 0.8rem;
    box-sizing: border-box;
    border-bottom: 1px solid #d2d6da;
    text-align: left;
  }

  img {
    position: absolute;
    right: 0.4rem;
    top: 50%;
    width: 1rem;
    transform: translateY(-50%);
  }

  .options {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0;
    right: 0;
    top: 0.6rem;
    z-index: 1;
    background-color: var(--color-white);
    transform: translateY(2.7rem);
    box-shadow: 0px 0px 4px 0px #00000040;

    button {
      display: inline-block;
      padding: 0.6rem 0.8rem;
      color: var(--color-text-subtitle);
      text-align: left;
      white-space: nowrap;
    }
  }
}

.inputWrap {
  flex: 208;
  height: inherit;

  input {
    height: inherit;
    width: 100%;
    padding: 0.5rem 0.9rem;
    box-sizing: border-box;
    border: 0;
    border-bottom: 1px solid var(--color-primary);
  }
}

.func {
  button {
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

.close {
  position: absolute;
  right: 1.2rem;
  top: 1.2rem;
}
