.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 11.6rem;
  padding: 1rem;
  border-radius: 0.8rem;
  box-sizing: border-box;
  text-wrap: nowrap;
  line-height: 1;

  transition:
    background-color 0.2s,
    color 0.2s;

  img {
    margin-left: 0.7rem;
  }
}

.primary {
  background-color: var(--color-primary);
  color: var(--color-white);
  border: none;
}

.outline {
  color: var(--color-text-subtitle);
  border: 1px solid var(--color-text-subtitle);
}

.ghost {
  background: transparent;
  background-color: var(--color-light-gray);
  color: var(--color-text-secondary);
}

.sm {
  font-size: 1.4rem;
}

.md {
  font-size: var(--text-p2);
  padding: 1.6rem 2.8rem;
}

.lg {
  font-size: var(--text-p1);
  padding: 1.6rem 2.8rem;
}
