.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.8rem;
  padding: 1rem;
  max-width: 11.6rem;
  text-wrap: nowrap;
  line-height: 1;
  transition:
    background-color 0.2s,
    color 0.2s;
}

.primary {
  background-color: var(--color-primary);
  color: var(--color-white);
  border: none;
}

.outline {
  color: var(--color-text-subtitle);
  border: 1px solid var(--color-text-subtitle);
}

.ghost {
  background: transparent;
  background-color: var(--color-light-gray);
  color: var(--color-text-secondary);
}

.sm {
  font-size: 1.4rem;
}

.md {
  font-size: var(--text-md);
  padding: 1.6rem 2.8rem;
}

.lg {
  font-size: var(--text-lg);
  padding: 1.6rem 2.8rem;
}
